<div class="row" >
    <div class="col-xs-12">
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="person in $data">
                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                    <a href="#/contacts/{{person.id}}">{{person.name}}</a> </td>
                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                    {{person.email}}</td>
                <td title="'Phone'" filter="{ phone: 'number'}" sortable="'phone'">
                    {{person.phone}}</td>
                <td title="'Company'" sortable="'company.name'">
                    {{person.company.name}}</td>
                <td title="'Website'" filter="{ website: 'text'}" sortable="'website'">
                    {{person.website}}</td>
            </tr>
        </table>
    </div>

</div>